/** RESET AND LAYOUT
===================================*/

.bx-wrapper {
	position: relative;
	// margin: 0 auto 60px;
	padding: 0;
	*zoom: 1;
	-ms-touch-action: pan-y;
	touch-action: pan-y;

	ul {
		list-style: none;
		margin: 0 !important;
		padding: 0 !important;
		li {
			margin: 0 !important;
		padding: 0 !important;		
		}
		img {
		max-width: 100%;
		display: block;		}
	}

	img {

	}
}



.bx-viewport {
	/*fix other elements on the page moving (on Chrome)*/
	-webkit-transform: translatez(0);
}