/** VARIABLES 
===================================*/


/* Images */
$controls:          'images/controls.png';
$loader:            '../images/bx_loader.gif';

$control-size-y:	48px;
$control-size-x:	32px;

/* Padding */
$padding:           5px; 

/* Colors */
$color-shadow:      #ccc;
$color-background:  red;
$color-caption:     green;
$color-bg-caption:  red;