/** VARIABLES 
===================================*/


/* Images */
$controls:          'images/controls.png';
$loader:            '../images/bx_loader.gif';

$control-size-y:	48px;
$control-size-x:	32px;

/* Padding */
$padding:           5px; 

/* Colors */
$color-control: 	white;
$color-shadow:      #ccc;
$color-background:  white;
$color-caption-text:white;
$color-caption-bg:  #7F7F7F;